{{>header}}
{{>nav}}

<div class="container">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">{{modelId}}<br><span class="text-muted">{{modelName}}</span>
            </h2>
            <h4>Price: {{priceCurrency}} {{price}}</h4>
            <p class="text-muted">{{priceDisclaimer}}</p>
            <p> {{description}}</p>

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                Place Order
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">

                        {{#if user}}
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Order Summary</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Please confirm your order: {{modelId}} {{modelName}}
                        </div>
                        <div class="modal-footer">
                            <form action="/orders" method="POST">
                                <input type="hidden" name="inventoryId" value="{{inventoryId}}">
                                <button type="submit" class="btn btn-primary">Confirm</button>
                            </form>
                        </div>
                        {{else}}
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Please login</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Login to place an order
                        </div>
                        <div class="modal-footer">
                            <a href="/signup" class="btn btn-primary">Sign Up</a>
                            <a href="/auth/provider" class="btn btn-primary">Login</a>
                        </div>
                        {{/if}}

                    </div>
                </div>
            </div>

            {{!-- <a href="/portal/orders" class="btn btn-primary order-now-btn">Order Now</a> --}}


        </div>
        <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" src={{carImageURL}} alt="Generic placeholder image">
        </div>
    </div>

</div>


{{>footer}}