{{>header}}
{{>nav}}

<div class="container order-status-container">
    <h1>Order Status</h1>
    <br>
    <h6>Delivery Progress</h6>
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: {{orderStatus}}%;" aria-valuenow={{orderStatus}} aria-valuemin="0"
            aria-valuemax="100">{{orderStatus}}%</div>
    </div>
    {{#each orderItems}}

    <div class="container order-container">

        <h4>Item Type: {{this.itemType}}</h4>

        <ul class="list-group order-list-group">
            <li class="list-group-item">Item Description: {{this.itemDescription}}</li>
            <li class="list-group-item">Item Quantity: {{this.itemQuantity}}</li>
        </ul>
    </div>
    {{/each}}

</div>

{{>footer}}