{{>header}}
{{>nav}}

<div class="container view-container">
    <h1>View All Orders</h1>
    <br>
    <h6>Customer ID: {{customerId}}</h6>

    {{#each orders}}

    <div class="container order-container">

        <h3>Order ID: {{this.orderId}}</h3>

        <ul class="list-group order-list-group">
            <li class="list-group-item">Order date: {{this.orderDate}}</li>
            <li class="list-group-item">Order status: {{this.orderStatus}}</li>
        </ul>
        <a class="btn btn-primary view-order-status-button" href="/orders/{{this.orderId}}">Order Status</a>

    </div>
    {{/each}}

</div>

{{>footer}}